.header {
    display: flex;

    align-items: center;
}

.header > span {
    flex: 1;
}

.effectsList {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.tabHolder {
    flex: 1;
}

.effectTab {
    height: 100%;
}