.waitingRoom {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
}

.waitingRoom .playerInfoPanels {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    flex: 2;
    width: 100%;
    /* gap: 10px; */
}

.waitingRoom .playerInfoPanels .playerInfo {
    width: calc(50% - 100px);
    /* flex: 1; */

    display: flex;
    flex-direction: column;
    /* gap: 10px; */

    padding: 20px;
    box-sizing: border-box;

    font-size: 20px;
}

.waitingRoom .startButton {
    flex-grow: 1;
    max-width: min-content;
}

.waitingRoom .exitButton {
    position: absolute;
    top: 5px;
    right: 5px;
}

.waitingRoom .roomId {
    padding: 15px;
    box-sizing: border-box;

    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.waitingRoom .roomId span {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0px 10px 0px 10px;
    font-size: 30px;
}