.title {
    font-size: 100pt;
    margin: 0 auto;
}

.menuButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuButtons > button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
}